Repository helsing-ai/buffrs, pull requests merged in 2023-12, with the labels that each got.

#184 Run npm audit fix --force
  registry/ui/package-lock.json
  registry/ui/package.json
  registry/ui/yarn.lock
Labels: complexity::low, component::registry, priority::medium, type::fix

#183 Clear the proto store before installing dependencies
  src/command.rs
  src/package/store.rs
Labels: complexity::low, type::fix

#182 Add a pre-commit hook
  .github/pre-commit
  CONTRIBUTING.md
  README.md
Labels: complexity::low, type::idea, docs::project, priority::medium

#194 Deprecate Impl packages (again)
  docs/src/SUMMARY.md
  docs/src/guide/buffrs-home.md
  docs/src/guide/consuming-packages.md
  docs/src/guide/creating-a-package.md
  docs/src/guide/dependencies.md
  docs/src/guide/import-system.md
  docs/src/guide/index.md
  docs/src/guide/package-types.md
  docs/src/guide/using-packages.md
  docs/src/migration/architectures.md
  docs/src/migration/continuous-integration.md
  docs/src/migration/index.md
  src/command.rs
  src/generator.rs
  src/main.rs
  src/manifest.rs
  src/package/compressed.rs
  src/package/name.rs
  src/package/store.rs
  src/package/type.rs
  src/registry/cache.rs
  src/registry/mod.rs
  src/resolver.rs
  src/validation.rs
  src/validation/rules.rs
  src/validation/rules/package_name.rs
  tests/cmd/init/default/out/Proto.toml
  tests/cmd/package/in/proto/vendor/.gitkeep
  tests/cmd/package/mod.rs
Labels: docs::crate, datamodel, component::cli, complexity::medium

#199 Add full test of the typical use-case
  .github/workflows/cli.yml
  Cargo.lock
  Cargo.toml
  tests/cmd/add/mod.rs
  tests/cmd/init/api/mod.rs
  tests/cmd/init/default/mod.rs
  tests/cmd/init/lib/mod.rs
  tests/cmd/install/mod.rs
  tests/cmd/lint/mod.rs
  tests/cmd/login/mod.rs
  tests/cmd/logout/mod.rs
  tests/cmd/ls/mod.rs
  tests/cmd/mod.rs
  tests/cmd/package/mod.rs
  tests/cmd/package/out/lib-0.0.1.tgz
  tests/cmd/publish/in
  tests/cmd/publish/mod.rs
  tests/cmd/publish/out
  tests/cmd/publish/stderr.log
  tests/cmd/publish/stdout.log
  tests/cmd/remove/mod.rs
  tests/cmd/tuto/in/Cargo.toml
  tests/cmd/tuto/in/build.rs
  tests/cmd/tuto/in/main.rs
  tests/cmd/tuto/in/sensor.proto
  tests/cmd/tuto/in/temperature.proto
  tests/cmd/tuto/mod.rs
  tests/lib.rs
  tests/test_registry.rs
Labels: component::cli, component::registry, priority::high, complexity::medium, docs::project

#201 Implement a canary edition system
  docs/src/SUMMARY.md
  docs/src/reference/editions.md
  docs/src/reference/index.md
  registry/Cargo.lock
  src/command.rs
  src/manifest.rs
  src/package/compressed.rs
  src/registry/cache.rs
  tests/cmd/add/out/Proto.toml
  tests/cmd/init/api/out/Proto.toml
  tests/cmd/init/default/out/Proto.toml
  tests/cmd/init/lib/out/Proto.toml
  tests/cmd/package/out/lib-0.0.1.tgz
  tests/data/projects/lib/Proto.toml
Labels: docs::crate, datamodel, component::cli, priority::high, complexity::medium, type::epic, type::idea, docs::project
